<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="container mt-5">
    <div class="alert alert-info display-1 text-center">
        <img src="{% static 'images/hello-kitty.png' %}" alt="hello-kitty" width="125px"> Tienda Sanrio
    </div>
    <div class="row">
        <div class="col"><a href="/peluches" class="btn p-3 btn-primary w-100">Peluches</a></div>
        <div class="col"><a href="/figuras" class="btn p-3 btn-danger w-100">Figuras</a></div>
        <div class="col"><a href="/accesorios" class="btn p-3 btn-primary w-100"></a></div>
    </div>
</body>
</html>